
@using Model
@model List<Message>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ul class="message-list">
   @foreach (var item in Model)
    {
        <li>
            <div class="col-mail col-mail-1">
                <div class="checkbox-wrapper-mail">
                    <input type="checkbox" id="chk19">
                    <label for="chk19" class="toggle"></label>
                </div>
                <a href="@Url.Action("Details", "Message", new { id = item.Id })" class="title">@item.NameSurName</a><span class="star-toggle far fa-star"></span>
            </div>
            <div class="col-mail col-mail-2">
                <a href="href=" @Url.Action("Details", "Message", new { id = item.Id })"" class="subject">
                    Hello – <span class="teaser">@item.Title</span>
                </a>
                <div class="date">@item.CreateDate.ToString("dd/MMM/yyyy")</div>
            </div>
        </li>

    }

    

</ul>

